.results_item{
    position: relative;
    block-size: 7em;
    margin-block-start: 1em;
}

.fixtures_item{
    position: relative;
    block-size: 7em;
    margin-block-start: 1em;
}

.players_item{
    position: relative;
    block-size: 7em;
    margin-block-start: 1em;
}

.tables_item{
    position: relative;
    block-size: 7em;
    margin-block-start: 1em;
}

